In [1]:
!pip install

ERROR: You must give at least one requirement to install (see "pip help install")

In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("diabetes_dataset_with_notes.csv")

# General information

In [4]:
# check each column for null values. The expectation here is that there are no null values due 
# the dataset already being clean
for column in df.columns:
    bool_series = pd.isnull(df[column])
    missing_values_count = bool_series.sum()
    print(column, missing_values_count)

year 0
gender 0
age 0
location 0
race:AfricanAmerican 0
race:Asian 0
race:Caucasian 0
race:Hispanic 0
race:Other 0
hypertension 0
heart_disease 0
smoking_history 0
bmi 0
hbA1c_level 0
blood_glucose_level 0
diabetes 0
clinical_notes 0

In [5]:
df.describe()

,year,age,race:AfricanAmerican,race:Asian,race:Caucasian,race:Hispanic,race:Other,hypertension,heart_disease,bmi,hbA1c_level,blood_glucose_level,diabetes
count,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000,100000.00000,100000.000000,100000.00000,100000.000000,100000.000000,100000.000000,100000.000000,100000.000000
mean,2018.360820,41.885856,0.202230,0.200150,0.198760,0.19888,0.199980,0.07485,0.039420,27.320767,5.527507,138.058060,0.085000
std,1.345239,22.516840,0.401665,0.400114,0.399069,0.39916,0.399987,0.26315,0.194593,6.636783,1.070672,40.708136,0.278883
min,2015.000000,0.080000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,10.010000,3.500000,80.000000,0.000000
25%,2019.000000,24.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,23.630000,4.800000,100.000000,0.000000
50%,2019.000000,43.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,27.320000,5.800000,140.000000,0.000000
75%,2019.000000,60.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.00000,0.000000,29.580000,6.200000,159.000000,0.000000
max,2022.000000,80.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.00000,1.000000,95.690000,9.000000,300.000000,1.000000

In [6]:
df["gender"].unique()

array(['Female', 'Male', 'Other'], dtype=object)

### Hypertension

In [7]:
# total number of people with hypertension
sum(df[df["hypertension"]==1]["hypertension"])

7485

In [8]:
# Discover how many people with Hypertension present in each Race
print(
    "Hypertension:",
    "\nAfricanAmerican: ", sum(df[df["race:AfricanAmerican"]==1]["hypertension"]),
    "\nAsian: ",sum(df[df["race:Asian"]==1]["hypertension"]),
    "\nCaucasian: ",sum(df[df["race:Caucasian"]==1]["hypertension"]),
    "\nHispanic: ",sum(df[df["race:Hispanic"]==1]["hypertension"]),
    "\nOther: ",sum(df[df["race:Other"]==1]["hypertension"]),
     )

Hypertension:
AfricanAmerican:  1501
Asian:  1540
Caucasian:  1493
Hispanic:  1503
Other:  1448

### Heart disease

In [9]:
# total amount of people with heart disease:
sum(df[df["heart_disease"]==1]["heart_disease"])

3942

In [10]:
# Discover how many people with Heart disease present in each Race
print(
    "Heart disease:",
    "\nAfricanAmerican: ", sum(df[df["race:AfricanAmerican"]==1]["heart_disease"]),
    "\nAsian: ",sum(df[df["race:Asian"]==1]["heart_disease"]),
    "\nCaucasian: ",sum(df[df["race:Caucasian"]==1]["heart_disease"]),
    "\nHispanic: ",sum(df[df["race:Hispanic"]==1]["heart_disease"]),
    "\nOther: ",sum(df[df["race:Other"]==1]["heart_disease"]),
     )

Heart disease:
AfricanAmerican:  792
Asian:  837
Caucasian:  774
Hispanic:  778
Other:  761

### BMI

In [11]:
# Discover how many people with BMI present in each Race
print(
    "BMI:",
    "\nAfricanAmerican: ", np.mean(df[df["race:AfricanAmerican"]==1]["bmi"]),
    "\nAsian: ",np.mean(df[df["race:Asian"]==1]["bmi"]),
    "\nCaucasian: ",np.mean(df[df["race:Caucasian"]==1]["bmi"]),
    "\nHispanic: ",np.mean(df[df["race:Hispanic"]==1]["bmi"]),
    "\nOther: ",np.mean(df[df["race:Other"]==1]["bmi"]),
     )

BMI:
AfricanAmerican:  27.304301537852936
Asian:  27.3902817886585
Caucasian:  27.292599114509958
Hispanic:  27.35223702735318
Other:  27.264543454345432

### hbA1c_level

In [12]:
# Discover how many people with hbA1c_level present in each Race
print(
    "hbA1c_level:",
    "\nAfricanAmerican: ", np.mean(df[df["race:AfricanAmerican"]==1]["hbA1c_level"]),
    "\nAsian: ",np.mean(df[df["race:Asian"]==1]["hbA1c_level"]),
    "\nCaucasian: ",np.mean(df[df["race:Caucasian"]==1]["hbA1c_level"]),
    "\nHispanic: ",np.mean(df[df["race:Hispanic"]==1]["hbA1c_level"]),
    "\nOther: ",np.mean(df[df["race:Other"]==1]["hbA1c_level"]),
     )

hbA1c_level:
AfricanAmerican:  5.530297186371953
Asian:  5.52649512865351
Caucasian:  5.518836788086134
Hispanic:  5.528464400643604
Other:  5.533363336333633

### blood_glucose_level

In [13]:
# Discover how many people with blood_glucose_level present in each Race
print(
    "blood_glucose_level:",
    "\nAfricanAmerican: ", np.mean(df[df["race:AfricanAmerican"]==1]["blood_glucose_level"]),
    "\nAsian: ",np.mean(df[df["race:Asian"]==1]["blood_glucose_level"]),
    "\nCaucasian: ",np.mean(df[df["race:Caucasian"]==1]["blood_glucose_level"]),
    "\nHispanic: ",np.mean(df[df["race:Hispanic"]==1]["blood_glucose_level"]),
    "\nOther: ",np.mean(df[df["race:Other"]==1]["blood_glucose_level"]),
     )

blood_glucose_level:
AfricanAmerican:  138.24333679473867
Asian:  138.07194604046964
Caucasian:  138.39489836989333
Hispanic:  137.83879726468223
Other:  137.74007400740075

### diabetes

In [14]:
# Discover how many people with diabetes present in each Race
print(
    "diabetes:",
    "\nAfricanAmerican: ", np.sum(df[df["race:AfricanAmerican"]==1]["diabetes"]),
    "\nAsian: ",np.sum(df[df["race:Asian"]==1]["diabetes"]),
    "\nCaucasian: ",np.sum(df[df["race:Caucasian"]==1]["diabetes"]),
    "\nHispanic: ",np.sum(df[df["race:Hispanic"]==1]["diabetes"]),
    "\nOther: ",np.sum(df[df["race:Other"]==1]["diabetes"]),
     )

diabetes:
AfricanAmerican:  1768
Asian:  1743
Caucasian:  1670
Hispanic:  1676
Other:  1643

### gender

In [15]:
# Discover how many Females present in each Race
print(
    "Female distribution per race:",
    "\nAfricanAmerican: ", np.shape(df[(df["race:AfricanAmerican"]==1) & (df["gender"]=="Female")])[0],
    "\nAsian: ",np.shape(df[(df["race:Asian"]==1) & (df["gender"]=="Female")])[0],
    "\nCaucasian: ",np.shape(df[(df["race:Caucasian"]==1) & (df["gender"]=="Female")])[0],
    "\nHispanic: ",np.shape(df[(df["race:Hispanic"]==1) & (df["gender"]=="Female")])[0],
    "\nOther: ",np.shape(df[(df["race:Other"]==1) & (df["gender"]=="Female")])[0],
     )

Female distribution per race:
AfricanAmerican:  11807
Asian:  11716
Caucasian:  11723
Hispanic:  11601
Other:  11705

In [16]:
# Discover how many Males present in each Race
print(
    "Male distribution per race:",
    "\nAfricanAmerican: ", np.shape(df[(df["race:AfricanAmerican"]==1) & (df["gender"]=="Male")])[0],
    "\nAsian: ",np.shape(df[(df["race:Asian"]==1) & (df["gender"]=="Male")])[0],
    "\nCaucasian: ",np.shape(df[(df["race:Caucasian"]==1) & (df["gender"]=="Male")])[0],
    "\nHispanic: ",np.shape(df[(df["race:Hispanic"]==1) & (df["gender"]=="Male")])[0],
    "\nOther: ",np.shape(df[(df["race:Other"]==1) & (df["gender"]=="Male")])[0],
     )

Male distribution per race:
AfricanAmerican:  8414
Asian:  8297
Caucasian:  8144
Hispanic:  8284
Other:  8291

### location

In [17]:
df["location"].unique()

array(['Alabama', 'Alaska', 'Arizona', 'Arkansas', 'California',
       'Colorado', 'Connecticut', 'Delaware', 'District of Columbia',
       'Florida', 'Georgia', 'Guam', 'Hawaii', 'Idaho', 'Illinois',
       'Indiana', 'Iowa', 'Kansas', 'Kentucky', 'Louisiana', 'Maine',
       'Maryland', 'Massachusetts', 'Michigan', 'Minnesota',
       'Mississippi', 'Missouri', 'Montana', 'Nebraska', 'Nevada',
       'New Hampshire', 'New Jersey', 'New Mexico', 'New York',
       'North Carolina', 'North Dakota', 'Ohio', 'Oklahoma', 'Oregon',
       'Pennsylvania', 'Puerto Rico', 'Rhode Island', 'South Carolina',
       'South Dakota', 'Tennessee', 'Texas', 'United States', 'Utah',
       'Vermont', 'Virgin Islands', 'Virginia', 'Washington',
       'West Virginia', 'Wisconsin', 'Wyoming'], dtype=object)

In [18]:
df["location"].value_counts()

location
Kentucky                2038
Iowa                    2038
Hawaii                  2038
Nebraska                2038
Florida                 2037
Minnesota               2037
Arkansas                2037
New Jersey              2037
Massachusetts           2036
Kansas                  2036
Louisiana               2036
District of Columbia    2036
Maine                   2036
Delaware                2036
Georgia                 2036
Michigan                2036
Illinois                2036
Pennsylvania            2036
Oregon                  2036
Alabama                 2036
Connecticut             2035
Maryland                2035
Alaska                  2035
North Dakota            2035
New York                2035
North Carolina          2035
Mississippi             2035
Rhode Island            2035
Colorado                2035
Missouri                2035
New Hampshire           2035
New Mexico              2033
South Dakota            2033
Montana                 2033
Idaho                   1988
South Carolina          1987
Indiana                 1987
Arizona                 1986
California              1986
Nevada                  1986
Oklahoma                1986
Ohio                    1986
Tennessee               1574
United States           1401
Washington              1363
Utah                    1359
Virginia                1350
Vermont                 1338
Texas                   1337
Puerto Rico             1295
Guam                    1204
West Virginia           1132
Virgin Islands           763
Wisconsin                388
Wyoming                  388
Name: count, dtype: int64

### smoking history

In [19]:
df["smoking_history"].unique()

array(['never', 'not current', 'current', 'No Info', 'ever', 'former'],
      dtype=object)

In [20]:
df["smoking_history"].value_counts()

smoking_history
No Info        35816
never          35095
former          9352
current         9286
not current     6447
ever            4004
Name: count, dtype: int64

In [21]:
for i in df["smoking_history"].unique():
    print(
    '\033[1m' + f"Male distribution per smoking attribute {i}:" + '\033[0m',
    "\nAfricanAmerican: ", np.shape(df[(df["race:AfricanAmerican"]==1) & 
                                    (df["gender"]=="Male") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nAsian: ",np.shape(df[(df["race:Asian"]==1) & 
                                    (df["gender"]=="Male") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nCaucasian: ",np.shape(df[(df["race:Caucasian"]==1) & 
                                    (df["gender"]=="Male") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nHispanic: ",np.shape(df[(df["race:Hispanic"]==1) & 
                                    (df["gender"]=="Male") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nOther: ",np.shape(df[(df["race:Other"]==1) & 
                                    (df["gender"]=="Male") & 
                                    (df["smoking_history"]==f"{i}")])[0],
     )

Male distribution per smoking attribute never:
AfricanAmerican:  2494
Asian:  2427
Caucasian:  2402
Hispanic:  2460
Other:  2440
Male distribution per smoking attribute not current:
AfricanAmerican:  532
Asian:  518
Caucasian:  501
Hispanic:  471
Other:  504
Male distribution per smoking attribute current:
AfricanAmerican:  809
Asian:  819
Caucasian:  855
Hispanic:  881
Other:  864
Male distribution per smoking attribute No Info:
AfricanAmerican:  3241
Asian:  3260
Caucasian:  3148
Hispanic:  3261
Other:  3200
Male distribution per smoking attribute ever:
AfricanAmerican:  358
Asian:  367
Caucasian:  380
Hispanic:  317
Other:  343
Male distribution per smoking attribute former:
AfricanAmerican:  980
Asian:  906
Caucasian:  858
Hispanic:  894
Other:  940

In [22]:
for i in df["smoking_history"].unique():
    print(
    '\033[1m' + f"Male distribution per smoking attribute {i}:" + '\033[0m',
    "\nAfricanAmerican: ", np.shape(df[(df["race:AfricanAmerican"]==1) & 
                                    (df["gender"]=="Female") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nAsian: ",np.shape(df[(df["race:Asian"]==1) & 
                                    (df["gender"]=="Female") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nCaucasian: ",np.shape(df[(df["race:Caucasian"]==1) & 
                                    (df["gender"]=="Female") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nHispanic: ",np.shape(df[(df["race:Hispanic"]==1) & 
                                    (df["gender"]=="Female") & 
                                    (df["smoking_history"]==f"{i}")])[0],
    "\nOther: ",np.shape(df[(df["race:Other"]==1) & 
                                    (df["gender"]=="Female") & 
                                    (df["smoking_history"]==f"{i}")])[0],
     )

Male distribution per smoking attribute never:
AfricanAmerican:  4682
Asian:  4574
Caucasian:  4601
Hispanic:  4434
Other:  4578
Male distribution per smoking attribute not current:
AfricanAmerican:  796
Asian:  772
Caucasian:  809
Hispanic:  776
Other:  760
Male distribution per smoking attribute current:
AfricanAmerican:  1018
Asian:  965
Caucasian:  1030
Hispanic:  1062
Other:  983
Male distribution per smoking attribute No Info:
AfricanAmerican:  3918
Asian:  4005
Caucasian:  3879
Hispanic:  3891
Other:  4007
Male distribution per smoking attribute ever:
AfricanAmerican:  467
Asian:  445
Caucasian:  431
Hispanic:  463
Other:  432
Male distribution per smoking attribute former:
AfricanAmerican:  926
Asian:  955
Caucasian:  973
Hispanic:  975
Other:  945

# Variable selection

In [23]:
from sklearn.feature_selection import SelectKBest, chi2

#### encode smoker:

In [24]:
df["smoking_history"] = df['smoking_history'].map(dict(zip(['No Info','never','ever','not current','former','current'],[0,1,2,3,4,5])))

### encode gender
female = 0, male = 1

In [25]:
df["gender"] = df['gender'].map(dict(zip(['Female','Male', 'Other'],[0,1,2])))

### removal of column US state

In [26]:
df = df.drop('location', axis=1)

In [27]:
#separate target and variables and remove clinical notes.
X_train = df.iloc[:,:-2]
y_train = df.iloc[:,-2:-1]

### checking data input for correctness:

In [28]:
df["gender"].unique()

array([0, 1, 2])

In [29]:
y_train

       diabetes
0             0
1             0
2             0
3             0
4             0
...         ...
99995         0
99996         0
99997         0
99998         0
99999         0

[100000 rows x 1 columns]

In [31]:
# Apply SelectKBest with chi2
select_k_best = SelectKBest(score_func=chi2, k=5)
X_train_k_best = select_k_best.fit_transform(X_train, y_train)

print("Selected features:", X_train.columns[select_k_best.get_support()])

Selected features: Index(['age', 'hypertension', 'bmi', 'hbA1c_level', 'blood_glucose_level'], dtype='object')

# Result
The Resulting variables are: age, hypertension, bmi, hbA1c_level and blood_glucose_level. These variables will be used to model the prediction.

In [34]:
df_to_save = df[['age', 'hypertension', 'bmi', 'hbA1c_level', 'blood_glucose_level', 'diabetes']]
df_to_save.to_csv('diabetes_selected_features.csv', index=False)